

<div class="popup-content">
    <span class="close-btn" onclick="closePopup()">&times;</span>
    <h2>Change Password</h2>
    <form action="/cpw" method="post">
        <div class= "form-group">
            <input type="password" name = "old_pw" placeholder = "Old Password" required>
        </div>
        <div class = "form-group">
            <input type="password" name = "npw" placeholder = "New Password" required>
        </div>
        <div class = "form-group">
            <input type="password" name = "re-npw"  placeholder = "Re-Enter Password" required>
        </div>
        <button type="submit" class="login-button">Change</button>
    </form>
    
</div>
