<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="top-bar">
        <a href="/">
            <img src="{{ url_for('static', filename='images/SSLogo.png') }}" alt="Logo" class="logo">
        </a>
        
        <span class="live-text">● LIVE NEPSE</span>
    </div>

  <main class="container py-5 text-center">
    {% block main %}{% endblock %}
  </main>
</body>
</html>
